<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ankita.studbud">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ChatForum"></activity>
        <activity android:name=".ProgrammingActivity" />
        <activity android:name=".AndroidActivity" />
        <activity android:name=".YoutubeActivity" />
        <activity android:name=".AIMLActivity" />
        <activity
            android:name=".Teacher_Dashboard_Activity"
            android:label="@string/title_activity_teacher__dashboard_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Register_Option_Activity" />
        <activity android:name=".Register_Teacher_Activity" />
        <activity android:name=".Register_Student_Activity" />
        <activity android:name=".Login_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Student_Dashboard_Activity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>